<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Book a Flight</title>
</head>
<body>
  <div class="content">
    <h1>Book a Flight</h1>
    <form [formGroup]="flightForm">
      <div class="namecontainer">
         <label>Fullname</label>
         <span style="color: red;" *ngIf="flightForm.get('fullname')?.errors?.['required']">* required</span><br>
         <input [(ngModel)]="flight.fullName" formControlName="fullname">
      </div>
      <br>
      <div class="flex-container1">
        <div>
        <label>From </label><span style="color: red;" *ngIf="flightForm.get('from')?.errors?.['required']">* required</span><br>
        <select [ngModel] = "flight.from" [formControl]="selectControl" formControlName="from" required>
          <ng-container *ngFor="let Flights of flights">
            <option *ngIf="flightForm.value.to !== Flights.value" [ngValue]="Flights.value" >{{Flights.value}}</option>
          </ng-container>
        </select>
      </div>
        <div>
        <label>To </label><span style="color: red;" *ngIf="flightForm.get('to')?.errors?.['required']">* required</span><br>
        <select [ngModel] = "flight.to" [formControl]="selectControl" formControlName="to" required>
          <ng-container *ngFor="let Flights of flights">
            <option *ngIf="flightForm.value.from !== Flights.value" [ngValue]="Flights.value" >{{Flights.value}}</option>
          </ng-container>
        </select>
      </div>
      <br>
      <div>
        <label>Trip Type</label><span style="color: red;" *ngIf="flightForm.get('type')?.errors?.['required']">* required</span><br>
        <div>
          <input class="radio" [ngModel] = "flight.type" type="radio"  value="One way"
            formControlName="type" checked>One way
          <input class="radio" [ngModel] = "flight.type" type="radio" value="Return"
            formControlName="type">Return
        </div>
      </div>
      </div>

      <br>
      <div class="calendar">
        <div class="row row-cols-sm-auto">
          <div class="col-12">
            <span >Departure</span>
            <div class="dp-hidden position-absolute">
              <div class="input-group">
                <input name="datepicker"
                       class="form-control"
                       ngbDatepicker
                       #datepicker="ngbDatepicker"
                       [autoClose]="'outside'"
                       (dateSelect)="onDateSelection($event)"
                       [displayMonths]="2"
                       [dayTemplate]="t"
                       outsideDays="hidden"
                       [minDate] = "{year:calendar.getToday().year,month:calendar.getToday().month,day:calendar.getToday().day}"
                       [startDate]="flightForm.value.departure!"
                       tabindex="-1">
                <ng-template #t let-date let-focused="focused">
                  <span class="custom-day"
                        [class.focused]="focused"
                        [class.range]="isRange(date)"
                        [class.faded]="isHovered(date) || isInside(date)"
                        (mouseenter)="hoveredDate = date"
                        (mouseleave)="hoveredDate = null">
                    {{ date.day }}
                  </span>
                </ng-template>
              </div>
            </div>
            <div class="input-group">
              <input #dpFromDate
                     class="form-control" placeholder="yyyy-mm-dd"
                     name="dpFromDate"
                     [value]="formatter.format(flightForm.value.departure)"
                     [value]="formatter.format(flight.departure)"
                     (input)="flightForm.value.departure = validateInput(flightForm.value.departure, dpFromDate.value)">
              <button class="btn btn-outline-secondary calendar fa fa-calendar" (click)="datepicker.toggle()" type="button"></button>
            </div>
          </div>
          <div class="col-12">
            <span >To</span>
            <div class="input-group">
              <input #dpToDate
                     class="form-control" placeholder="yyyy-mm-dd"
                     name="dpToDate"
                     [value]="formatter.format(flightForm.value.arrival)"
                     [value]="formatter.format(flight.arrival)"
                     (input)="flightForm.value.arrival = validateInput(flightForm.value.arrival, dpToDate.value)">
              <button class="btn btn-outline-secondary calendar fa fa-calendar" (click)="datepicker.toggle()" onclick="myFunction()" type="button"></button>
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="flex1">
        <div>
          <label>Adults</label><br>
          <input type="number" min="0" step="1" [(ngModel)]="flight.adults" formControlName="adults"><br>
          <span style="color: red;"  *ngIf="flightForm.get('adults')?.errors?.['required']">* required</span><br>
          <span style="color: red;"  *ngIf="flightForm.get('adults')?.errors?.['pattern']">* should have an adult seat</span><br>
        </div>
        <div>
          <label>Children</label><br>
          <input type="number" min="0" step="1" [(ngModel)]="flight.children" formControlName="children"><br>
          <span style="color: red;"  *ngIf="flightForm.get('children')?.errors?.['required']">* required</span><br>
          <span style="color: red;"  *ngIf="flightForm.get('children')?.errors?.['pattern']">* please fill out correctly</span><br>
        </div>
        <div>
          <label>Infants</label><br>
          <input type="number" min="0" step="1" [(ngModel)]="flight.infants" formControlName="infants"><br>
          <span style="color: red;" *ngIf="flightForm.get('infants')?.errors?.['required']">* required</span><br>
          <span style="color: red;"  *ngIf="flightForm.get('infants')?.errors?.['pattern']">* please fill out correctly</span><br>
        </div>
      </div>

      <br>
      <button class="buttonsubmit" type="submit" id="submitThis" [disabled]="flightForm.invalid" (click)="onSubmit(flightForm.value)">Submit</button>
    </form>
    <br>

      <!-- {{ flightForm.value | json}} -->
      <br/><br/><br/>
    <div class="center">
      <table>
        <thead>
          <tr>
            <th>fullName</th>
            <th>From</th>
            <th>To</th>
            <th>Type</th>
            <th>Departure</th>
            <th>Arrival</th>
            <th>Adults</th>
            <th>Children</th>
            <th>Infants</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let f of serviceflights">
            <td>{{ f.fullName }}</td>
            <td>{{ f.from }}</td>
            <td>{{ f.to }}</td>
            <td>{{ f.type }}</td>
            <td>{{ formatter.format(f.departure) }}</td>
            <td>{{ formatter.format(f.arrival) }}</td>
            <td>{{ f.adults }}</td>
            <td>{{ f.children }}</td>
            <td>{{ f.infants }}</td>
          </tr>
        </tbody>
      </table>
    </div>

      <br/><br/><br/>
    </div>
</body>
</html>











