@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

input {
  border-radius: 5px;
}

.content {
  max-width: 500px;
  margin: auto;
}

h1{
  font-family: 'Poppins';
  font-weight: 900;
  margin-left: 130px;
}
.dp-hidden {
  width: 0;
  margin: 0;
  border: none;
  padding: 0;
}
.custom-day {
  text-align: center;
  padding: 0.185rem 0.25rem;
  display: inline-block;
  height: 2rem;
  width: 2rem;
}
.custom-day.focused {
  background-color: #e6e6e6;
}
.custom-day.range, .custom-day:hover {
  background-color: rgb(216, 2, 73);
  color: white;
}
.custom-day.faded {
  background-color: rgba(216, 2, 73, 0.5);
}
.namecontainer {
  margin-top: 50px;
  margin-left: 120px;
}
.namecontainer input{
  width: 70%;
}

.center {
  margin-left: -300px;
  margin-right: auto;
}

.flex1 {
  display: flex;
  margin-left: -100px;
}

.flex1 > div {
  margin: 10px;
  padding: 20px;
}

.flex-container1 {
  display: flex;
  margin-left: -65px;
}

.flex-container1 > div {
  margin: 10px;
  padding: 20px;
}

table {
  border-collapse: collapse;
  box-shadow: 0 5px 10px #e1e5ee;
  background-color: white;
  text-align: center;
  overflow: hidden;
  width: 100%;
}
  thead {
    background-color: rgb(134, 0, 40);
    box-shadow: 0 5px 10px #eee1e5;
    color: white;
  }

  th {
    padding: 1rem 2rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-size: 0.7rem;
    font-weight: 900;
  }

  td {
    padding: 1rem 2rem;
  }
  .buttonsubmit {
    position: center;
    width: 100%;
    cursor: pointer;
    transition: all 0.32s ease-in-out;
    border-radius: 4px;
    padding: 0 24px;
    line-height: 48px;
    font-size: 13px;
    letter-spacing: 1px;
    background: rgb(134, 0, 40);
    border: 1px solid #ffffff12;
    text-align: center;
    overflow: hidden;
    color: rgb(255, 255, 255);
    margin: 8px;
  }
  .buttonsubmit:disabled,
  .buttonsubmit[disabled]{
    position: center;
    width: 100%;
    cursor: pointer;
    transition: all 0.32s ease-in-out;
    border-radius: 4px;
    padding: 0 24px;
    line-height: 48px;
    font-size: 13px;
    letter-spacing: 1px;
    background: #00000012;
    border: 1px solid #3d3d3d12;
    text-align: center;
    overflow: hidden;
    color: rgb(0, 0, 0);
    margin: 8px;
  }

